.note-card {
    background-color: rgba(black, 0.5);
    color: rgba(white, 0.95);

    border-radius: 4px;
    
    padding: 25px;

    cursor: pointer;

    transition: 0.1s;
    
    &:hover {
        background-color: rgba(black, 0.68);
        backdrop-filter: blur(2px);
    }
}

.note-card-title {
    font-size: 20px;
    font-weight: 600;
}

.note-card-content {
    margin-top: 7px;
}